/* all files */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

input {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid #656D76;
  border-radius: 6px;
  width: 75%;
}

/* Home.tsx */
.home-file {
  margin: 20px;
}

.listed-user {
  margin-top: 10px;
}

.listed-user :hover {
  cursor: pointer;
}

/* Profile.tsx */
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 30px;
}

.main {
  margin: 0 30px auto 15px;
}


.lang-btn {
  position: relative;

}

.lang-block {
  display: block;
}

.lang-list {
  visibility: hidden;
  display: block;
}

/* Repository.tsx */
#repository-file {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #656D76;
}

#repository-file h1 {
  color: #0969DA;
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 26px;
}

#repository-file p {
  color: #656D76;
}

.repo-main p {
  padding-top: 5px;
  font-size: 17px;
}

.repo-extra {
  display: flex;
  justify-content: left;
  padding-top: 20px;
}

.repo-extra p {
  margin-right: 25px;
  font-size: 15px;
}

#circle {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin-right: 5px;
}

.first-line {
  display: flex;
}

.privacy {
  margin-left: 20px;
  padding: 2px 15px;
  border: 1px solid #656D76;
  border-radius: 2rem;
  font-weight: 100;
}

/* SideProfile.tsx */
.sideprofile-file {
  margin: 0 15px auto 30px;
}

.profile{
  display: block;
}

.profile-img{
  border-radius: 50%;
  max-height: 320px;
  max-width: 320px;
}

.profile h2 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: var(--base-text-weight-semibold, 600);
}

.profile h3{
  color: #656D76;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  font-weight: var(--base-text-weight-light, 300);
}

.octi-line {
  display: flex;
}

.octi-line p {
  margin-left: 5px;
}

/* TopNav.tsx */
#topnav-file {
  background-color: #F6F8FA;
  border-bottom: 1px solid #656D76;
  padding: 20px 20px;
}

#topnav-file img {
  height: 40px;
  width: 40px;
}