/* multiple files */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

@media screen and (min-width: 1px) {
  #home-file input {
    width: 300px;
    margin-right: 10px;
  }
  .home-body {
    margin-top: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .listed-user {
    width: 410px;
    grid-template-columns: 1fr 8fr;
  }
  .grid {
    margin-top: 30px;
    width: auto;
    margin: 50px 20px;
  }
  .search-repo input {
    width: 100%;
    margin-bottom: 20px;
  }
  .profile-img {
    height: 120px;
    width: 120px;
  }
  #sideprofile-file {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (min-width: 540px) {
  #home-file input {
    width: 330px;
  }
  .listed-user {
    width: 440px;
  }
}

@media screen and (min-width: 650px) {
  .profile-img {
    height: 150px;
    width: 150px;
  }
  .home-body {
    display: inline-block;
  }
  .home-body {
    margin-top: 100px;
  }
  #home-file input {
    width: 390px;
    margin-right: 20px;
  }
  .listed-user {
    width: 500px;
  }
}

@media screen and (min-width: 850px) {
  #home-file input {
    width: 500px;
    margin-right: 30px;
  }
  .listed-user {
    width: 630px;
    grid-template-columns: 1fr 9fr;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: auto;
    margin-top: 30px;
    width: 760px;
    margin: 50px auto;
  }
  .profile-img {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
  }
  #sideprofile-file {
    display: block;
  }
}

@media screen and (min-width: 960px) {
  #home-file input {
    width: 600px;
    margin-right: 40px;
  }
  .listed-user {
    width: 740px;
    grid-template-columns: 1fr 10fr;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: auto;
    margin-top: 30px;
    width: 840px;
    margin: 50px auto;
  }
  .profile-img {
    height: 220px;
    width: 220px;
  }
}

@media screen and (min-width: 1070px){
  #home-file input {
    width: 700px;
    margin-right: 50px;
  }
  .listed-user {
    width: 850px;
    grid-template-columns: 1fr 11fr;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: auto;
    margin-top: 30px;
    width: 920px;
    margin: 50px auto;
  }
  .profile-img {
    height: 240px;
    width: 240px;
  }
}

@media screen and (min-width: 1180px){
  #home-file input {
    width: 800px;
    margin-right: 60px;
  }
  .listed-user {
    width: 960px;
    grid-template-columns: 1fr 12fr;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: auto;
    margin-top: 30px;
    width: 950px;
    margin: 50px auto;
  }
  .profile-img {
    height: 260px;
    width: 260px;
  }
}

@media screen and (min-width: 1290px){
  #home-file input {
    width: 900px;
    margin-right: 70px;
  }
  .listed-user {
    width: 1070px;
    grid-template-columns: 1fr 13fr;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: auto;
    margin-top: 30px;
    width: 1060px;
    margin: 50px auto;
  }
}

@media screen and (min-width: 1400px){
  #home-file input {
    width: 1000px;
    margin-right: 80px;
  }
  .listed-user {
    width: 1180px;
    grid-template-columns: 1fr 14fr;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: auto;
    margin-top: 30px;
    width: 1170px;
    margin: 50px auto;
  }
}

@media screen and (min-width: 1510px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: auto;
    margin-top: 30px;
    width: 1280px;
    margin: 50px auto;
  }
  .search-repo {
    display: flex;
    justify-content: space-between;
  }
  .search-repo input {
    width: 75%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1620px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: auto;
    margin-top: 30px;
    width: 1390px;
    margin: 50px auto;
  }
}

@media screen and (min-width: 1730px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: auto;
    margin-top: 30px;
    width: 1500px;
    margin: 50px auto;
  }
}

input {
  padding: 4px 10px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid #656D76;
  border-radius: 6px;
}

.github-nav img, .home-header img, .listed-user img {
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 15px;
}

.github-nav p, .home-header p {
  display: block;
  overflow: auto;
  font-size: 18px;
  font-weight: 600;
  padding-top: 9px;
  width: fit-content;
  cursor: pointer;
}

.comment {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #656D76;
  padding-bottom: 25px;
  padding-top: 25px;
}

/* Home.tsx */
#home-file header {
  background-color: #F6F8FA;
  border-bottom: 1px solid #656D76;
  padding: 25px;
  margin-bottom: 50px;
}

#home-file .home-header p {
  padding-bottom: 10px;
}

#home-file .home-body {
  text-align: center;
}

#home-file .home-body form {
  width: fit-content;
  text-align: center;
  margin: auto;
  display: inline-flex;
}

#home-file .home-body button {
  border: 1px solid #777;
  border-radius: 6px;
  padding: 8.5px 15px;
  width: 100px;
  font-size: 14px;
  background-color: #F6F8FA;
  cursor: pointer;
}

#home-file .listed-user {
  margin: 40px auto;
  display: grid;
  border: 1px solid #656D76;
  padding: 16px;
  border-radius: 6px;
}

#home-file .listed-user img {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
  margin-right: 20px;
}

#home-file .listed-user p {
  display: inline-block;
  overflow: auto;
  width: fit-content;
  padding-top: 10px;
}

#home-file .listed-user span {
  margin-right: 20px;
}

#home-file .listed-user span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#home-file .user-name {
  color: #0969DA;
  font-weight: 500;
  font-size: 18px;
}

#home-file .user-username {
  color: #656D76;
  font-weight: 300;
  font-size: 18px;
}

#home-file .user-info {
  text-align: left;
}

#home-file .user-info p {
  margin-right: 10px;
}

/* Profile.tsx */
.main {
  margin: 0 30px auto 15px;
}

.select-wrap {
  border: 1px solid #777;
  border-radius: 6px;
  padding: 4px;
  width: fit-content;
  background-color: #F6F8FA;
  height: fit-content;
}

.select-wrap label{
  font-size: 15px;
  color: #777;
  padding: 5px;
}

.select-wrap select {
  background-color: #F6F8FA;
  border: 0;
  font-weight: bold;
}

.search-repo {
  border-bottom: 1px solid #656D76;
  padding-bottom: 20px;
}

.lang-btn {
  position: relative;
}

.lang-block {
  display: block;
}

.lang-list {
  visibility: hidden;
  display: block;
}

.clear-filter svg {
  background-color: #656D76;
  fill: white;
  padding: 1px;
  margin-right: 4px;
  text-align: center;
  border-radius: 6px;
  margin-right: 10px;
}

.clear-filter {
  display: flex;
  color: #656D76;
  cursor: pointer;
}

/* Repository.tsx */
#repository-file {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #656D76;
}

#repository-file h1 {
  color: #0969DA;
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 22px;
  margin-bottom: 10px;
  text-decoration: none;
}

#repository-file p {
  color: #656D76;
}

.privacy {
  margin-left: 20px;
  padding: 2px 10px;
  border: 1px solid #656D76;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 12px;
  height: fit-content;
  margin-top: 5px;
}

.description {
  padding-top: 5px;
  font-size: 15px;
}

.repo-extra {
  display: flex;
  justify-content: left;
  padding-top: 20px;
}

.repo-extra p {
  margin-right: 25px;
  font-size: 13px;
}

.repo-extra svg {
  margin-right: 5px;
}

#circle {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin-right: 5px;
}

.first-line {
  display: flex;
}

/* SideProfile.tsx */
#sideprofile-file {
  margin: 0 15px 30px 30px;
}

.profile {
  display: block;
}

.profile-img {
  border-radius: 50%;
}

.profile h2 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: var(--base-text-weight-semibold, 600);
  margin-bottom: 5px;
}

.profile h3{
  color: #656D76;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  font-weight: var(--base-text-weight-light, 300);
}

.bio {
  font-size: 17px;
  margin: 15px 0;
}

.followers {
  margin: 20px 0;
  font-size: 15px;
}

#sideprofile-file .rest div {
  margin-bottom: 5px;
  font-size: 14px;
}

.octi-line {
  display: flex;
}

.octi-line p {
  margin-left: 10px;
}

/* TopNav.tsx */
#topnav-file {
  background-color: #F6F8FA;
  border-bottom: 1px solid #656D76;
  padding: 15px 25px;
  cursor: default;
}

.github-nav {
  width: 50px;
  display: inline;
}

.github-nav a:link, .github-nav a:visited {
  text-decoration: none;
  color: black;
}

.repos-nav {
  display: flex;
  position: static;
  margin-top: 2.25rem;
}

.repos-nav a {
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
}

.repos-nav a:hover {
  background-color: #e0e5e9;
  border-radius: 6px;
}

.clicked {
  font-weight: 600;
}

.clicked::after {
  content: "";
  display: block;
  border-bottom: 3px solid orange;
  padding-bottom: 18px;
  margin-bottom: -30px;
  margin-left: -10%;
  width: 120%;
  z-index: 1;
}

.repos-nav svg {
  margin-right: 15px;
  filter: invert(42%) sepia(18%) saturate(232%) hue-rotate(171deg) brightness(94%) contrast(90%);
}

.repo-amount {
  margin-left: 8px;
  background-color: #e0e5e9;
  border-radius: 2rem;
  padding: 3px 9px;
  font-size: medium;
  font-weight: normal;
}
